.div {
	background-image: url('../images/road.jpg');
	width: 100%;
	height: 750px;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}
.car {
	width: 400px;
	position: absolute;
	animation: car 6s linear infinite alternate;
	z-index: 2;
}
.guy {
	width: 250px;
	margin-top: 330px;
	margin-left: 840px;
	position: absolute;
	animation: guy 8s 6s linear infinite alternate;
	z-index: 3;
}
